:root {
    --bg-color: white;
    --bg-color5: rgba(255, 255, 255, 0.5);
    --text-color: rgb(61, 61, 61);
    --dtext-color: white;
    --link-color: var(--dtext-color);
    --navtxt-color: rgb(104, 104, 104);
    --btn-color: var(--navtxt-color);
    --popup-color: white;
    --hov-color: rgb(136, 136, 136);
    --load-color: var(--text-color);
    --shadow-color: rgb(132, 132, 132);
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: black;
        --bg-color5: rgba(0, 0, 0, 0.5);
        --text-color: white;
        --dtext-color: rgb(61, 61, 61);
        --link-color: var(--dtext-color);
        --navtxt-color: rgb(206, 206, 206);
        --btn-color: var(--navtxt-color);
        --popup-color: rgb(100, 100, 100);
        --hov-color: white;
        --load-color: var(--text-color);
        --shadow-color: rgb(132, 132, 132);
    }

    body {
        background: var(--bg-color);
    }
}