:root {
    --bg-color: rgb(255, 255, 255);
    --bg-color5: rgba(255, 255, 255, 0.5);
    --text-color: rgb(24, 19, 61);
    --dtext-color: rgb(221, 216, 255);
    --link-color: var(--dtext-color);
    --navtxt-color: rgb(64, 58, 104);
    --btn-color: var(--navtxt-color);
    --popup-color: rgb(247, 245, 255);
    --hov-color: rgb(87, 79, 136);
    --load-color: var(--text-color);
    --shadow-color: rgb(99, 93, 132);
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: rgb(38, 35, 63);
        --bg-color5: rgba(38, 35, 63, 0.5);
        --text-color: rgb(221, 216, 255);
        --dtext-color: rgb(24, 19, 61);
        --link-color: var(--dtext-color);
        --navtxt-color: rgb(160, 153, 206);
        --btn-color: var(--navtxt-color);
        --popup-color: rgb(55, 48, 100);
        --hov-color: rgb(180, 169, 255);
        --load-color: var(--text-color);
        --shadow-color: rgb(99, 93, 132);
    }

    body {
        background: var(--bg-color);
    }
}